'menu': [
  {
    'label': 'Project'
    'submenu': [
      {
        'label': 'Create Project'
        'command': 'coxide:createProject'
      },
      { type: 'separator' },
      {
        'label': 'Open Project'
        'command': 'coxide:openProject'
      },
      {
        'label': 'Close Project'
        'command': 'coxide:closeProject'
      },
      { type: 'separator' },
      {
        'label': 'Build Project [F7]'
        'command': 'coxide:buildProject'
      },
      {
        'label': 'Clean Project'
        'command': 'coxide:cleanProject'
      }
    ]
  },
  {
    'label': 'Help'
    'submenu': [
      {
        'label': 'View License'
        'command': 'coxide:viewLicense'
      },
      { type: 'separator' },
      {
        'label': 'Update Libraries'
        'command': 'coxide:libUpdate'
      },
      {
        'label': 'Setting Private Key'
        'command': 'coxide:setPrivateKey'
      },
      { type: 'separator' },
      {
        'label': 'View Version Info.'
        'command': 'coxide:viewVersion'
      }
    ]
  }
]
