'menu': [
  {
    'label': 'Project'
    'submenu': [
      {
        'label': 'Open Project'
        'command': 'coxide:openProject'
      },
      {
        'label': 'Create Project'
        'command': 'coxide:createProject'
      }
    ]
  }
]
