// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.coxide {
  .btn-open-folder {
    width: 35px;
    height: 25px;
  }
  
  .btn-size15 {
    font-size: 15px;
  }
  
  atom-text-editor[mini] {
    display: inline-block;
    width: 93%;
  }
}

.coxide-align-center {
  text-align: center;
}

